.colorbar {
  height: 47px;
  width: 254px;
  align-items: center;
  margin-left: 2px;

  .colorbar__switcher {
    border-top: 1px solid #7b7b7b;
    border-left: 1px solid #7b7b7b;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;

    box-sizing: border-box;
    position: relative;
    &:before {
      border-left: 1px solid black;
      border-top: 1px solid black;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -2px;
      bottom: -2px;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }
    & > canvas {
      pointer-events: none;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC)
        repeat;
      background-size: 2px;
    }
  }

  .colorbar__palette {
    flex-flow: row wrap;
    height: 32px;
    width: 224px;
  }
}
