.picker__cell,
.palette__cell {
  position: relative;
  margin-left: 1px;
  padding: 0;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 0;

  & > canvas {
    pointer-events: none;
  }
}

.picker__cell {
  @include border(#fff, #fff, #7b7b7b,#7b7b7b);

  &:before {
    content: '';
    @include position(1px, 1px, 1px, 1px);
  }

  &:after {
    content: '';
    @include position(0px, 0px, 0px, 0px);
    @include border(#bbb, #bbb, #bbb, #bbb);
  }
}

.palette__cell {
  @include border(#7b7b7b, #7b7b7b, #bbbbbb, #bbbbbb);

  &:before {
    @include position(0px, 0px, 0px, 0px);
    @include border(black, black, '', '');
    content: '';
  }

  &:after {
    @include position(-1px, -1px, -2px, -2px);
    @include border('', '', white, white);
    content: '';
  }

  input {
    margin: 0;
    padding: 0;
    height: 0px;
    width: 0px;
    opacity: 0;
    pointer-events: none;
  }
}
