.colorbar {
  height: 47px;
  width: 254px;
  align-items: center;
  margin-left: 2px;
  cursor: default;

  .colorbar__switcher {
    @include border(#7b7b7b, #7b7b7b, #bbbbbb, #bbbbbb);
    box-sizing: border-box;
    position: relative;

    &:before {
      @include position(0px, 0px, 0px, 0px);
      border-left: 1px solid black;
      border-top: 1px solid black;
      content: '';
    }

    &:after {
      @include position(-1px, -1px, -2px, -2px);
      @include border('', '', white, white);
      content: '';
    }

    & > canvas {
      pointer-events: none;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC)
        repeat;
      background-size: 2px;
    }
  }

  .colorbar__palette {
    flex-flow: row wrap;
    height: 32px;
    width: 224px;
  }

  input {
    margin: 0;
    padding: 0;
    height: 0px;
    width: 0px;
    opacity: 0;
    pointer-events: none;
  }
}
