/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* @import "~font-awesome/css/font-awesome.css"; */

/* @import '~normalize.css/normalize.css'; */

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule.*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type='text'],
input[type='url'] {
  /* TODO: fancy 3d inset border (might need a surrounding element because pseudo elements won't work with input) */
  /* I guess an image border could work; maybe I should be using (svg) image borders for stuff */
  /* (css inset border style doesn't look good and isn't consistent between browsers) */
  border: 1px solid gray;
  background: white;
  color: black;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  border: 0;
  overflow: hidden;
  background: #c0c0c0;
}

* {
  image-rendering: pixelated;
}

::selection {
  background-color: #000080;
  color: white;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  background: #c0c0c0;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 0 white inset, -1px -1px 0 #707070 inset;
}
::-webkit-scrollbar-button:hover:active {
  border: 1px solid #7b7b7b;
  box-shadow: none;
}
::-webkit-scrollbar-corner {
  background: #c0c0c0;
}
::-webkit-scrollbar-button {
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button {
  background-image: url('./images/arrows.png');
}
::-webkit-scrollbar-button:horizontal:decrement:disabled {
  background-position: calc(-24px + 1px) 1px; /* left */
}
::-webkit-scrollbar-button:horizontal:increment:disabled {
  background-position: calc(-36px + 1px) 1px; /* right */
}
::-webkit-scrollbar-button:vertical:decrement:disabled {
  background-position: calc(-12px + 1px) 1px; /* up */
}
::-webkit-scrollbar-button:vertical:increment:disabled {
  background-position: calc(-0px + 1px) 1px; /* down */
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-position: calc(-24px + 1px) calc(-12px + 1px); /* left */
}
::-webkit-scrollbar-button:horizontal:increment {
  background-position: calc(-36px + 1px) calc(-12px + 1px); /* right */
}
::-webkit-scrollbar-button:vertical:decrement {
  background-position: calc(-12px + 1px) calc(-12px + 1px); /* up */
}
::-webkit-scrollbar-button:vertical:increment {
  background-position: calc(-0px + 1px) calc(-12px + 1px); /* down */
}
::-webkit-scrollbar {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC)
    repeat;
}
::-webkit-scrollbar-track-piece:active {
  background: black;
}

/* turn off double buttons */
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}

::before,
::after {
  pointer-events: none;
}
