/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~normalize.css/normalize.css';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  border: 0;
  overflow: hidden;
  background: #c0c0c0;
}

* {
  image-rendering: pixelated;
  user-select: none;
}

*:focus {
  outline: none;
}

::before,
::after {
  pointer-events: none;
}

/*********** STYLES AFTER THIS FROM https://github.com/1j01/jspaint ************/

::selection {
  background-color: #000080;
  color: white;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  background: #c0c0c0;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 0 white inset, -1px -1px 0 #707070 inset;
}
::-webkit-scrollbar-button:hover:active {
  border: 1px solid #7b7b7b;
  box-shadow: none;
}
::-webkit-scrollbar-corner {
  background: #c0c0c0;
}
::-webkit-scrollbar-button {
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button {
  background-image: url('./images/arrows.png');
}
::-webkit-scrollbar-button:horizontal:decrement:disabled {
  background-position: calc(-24px + 1px) 1px; /* left */
}
::-webkit-scrollbar-button:horizontal:increment:disabled {
  background-position: calc(-36px + 1px) 1px; /* right */
}
::-webkit-scrollbar-button:vertical:decrement:disabled {
  background-position: calc(-12px + 1px) 1px; /* up */
}
::-webkit-scrollbar-button:vertical:increment:disabled {
  background-position: calc(-0px + 1px) 1px; /* down */
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-position: calc(-24px + 1px) calc(-12px + 1px); /* left */
}
::-webkit-scrollbar-button:horizontal:increment {
  background-position: calc(-36px + 1px) calc(-12px + 1px); /* right */
}
::-webkit-scrollbar-button:vertical:decrement {
  background-position: calc(-12px + 1px) calc(-12px + 1px); /* up */
}
::-webkit-scrollbar-button:vertical:increment {
  background-position: calc(-0px + 1px) calc(-12px + 1px); /* down */
}
::-webkit-scrollbar {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC)
    repeat;
}
::-webkit-scrollbar-track-piece:active {
  background: black;
}

/* turn off double buttons */
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}
