.menu__container {
  position: relative;
  margin-bottom: 1px;
  cursor: default;

  .menu__button {
    padding: 2px 5px;
    position: relative;
    outline: 0;

    &:hover {
      box-shadow: 1px 1px 0 white inset, -1px -1px 0 #707070 inset;
    }

    &.menu__button--active {
      box-shadow: 1px 1px 0 #707070 inset, -1px -1px 0 white inset !important;
      top: 1px;
      left: 1px;
    }
  }
}
