.menu__popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  box-sizing: border-box;
  display: block;
  padding: 2px;
  background: #c0c0c0;

  @include border(#c0c0c0, #c0c0c0, #000, #000);

  box-shadow: 1px 1px 0 white inset, -1px -1px 0 #707070 inset;

  &.menu__popup--disabled {
    display: none;
  }

  .menu__popup__table {
    border-collapse: collapse;

    .menu__divider {
      border: 0;

      @include border(#808080, '', '', #ffffff);

      margin: 0 2px;
      display: block !important;
      height: 0;
      width: auto;
    }

    .menu__item {
      padding: 1px 3px;
      margin: 2px;
      white-space: nowrap;

      svg {
        fill: black;
      }

      &:hover {
        background: #007;
        color: #fff;
        text-shadow: none;
        outline: 0;

        svg {
          fill: white;
        }
      }

      /**** reset for nested popups ****/
      .menu__popup--nested {
        display: block;
        position: absolute;
        top: 70%;
        left: 99.9%;

        .menu__item {
          color: black;

          &:hover {
            background: #007;
            color: #fff;
            text-shadow: none;
            outline: 0;
          }

          &[disabled] {
            color: #808080;
            text-shadow: 0.8px 0.8px 0 #fff;

            &:hover {
              text-shadow: none;
            }
          }
        }
      }

      /**** super hacky lol ****/

      .menu__item__checkbox,
      .menu__item__submenu {
        min-width: 16px;
      }

      .menu__item__label,
      .menu__item_shortcut {
      }

      &[disabled] {
        color: #808080;
        text-shadow: 0.8px 0.8px 0 #fff;

        &:hover {
          text-shadow: none;
        }
      }
    }

    // used for force highlights in popup
    .menu__item--highlight {
      background: #007;
      color: #fff;
      text-shadow: none;
      outline: 0;

      svg {
        fill: white;
      }
    }
  }
}
