.toolbar {
  height: 273px;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  flex-flow: column;
}

.tool__options {
  margin-top: 3px;
  width: 41px;
  height: 66px;
  box-sizing: border-box;
  @include border(#7b7b7b, #7b7b7b, white, white);
}

.tool__options {
  div {
    flex: 1;
  }
}

.tools {
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  width: 50px;
}
